html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
}
#s1 > h1{
  font-size: 6em;
  width: 500px;
  position: absolute;
  color: #FFC93C;
  /* #DBDFEA; */
  /* FFC93C 노란색 */
  top: 220px;
  left: 360px;
  animation: textSlide 2s ease-out;
}

#s1 > p {
  font-size: 1.9em;
  width: 500px;
  position: absolute;
  color: white;
  top: 500px;
  left: 360px;
  animation: textSlide 2s ease-out;
}
#s2 > h1{
  font-size: 6em;
  width: 500px;
  position: absolute;
  color: #FFC93C;
  /* #DBDFEA; */
  /* FFC93C 노란색 */
  top: 220px;
  left: 360px;
  animation: textSlide 2s ease-out;
}

#s2 > p {
  font-size: 1.9em;
  width: 500px;
  position: absolute;
  color: white;
  top: 500px;
  left: 360px;
  animation: textSlide 2s ease-out;
}
#s3 > h1{
  font-size: 6em;
  width: 500px;
  position: absolute;
  color: #FFC93C;
  /* #DBDFEA; */
  /* FFC93C 노란색 */
  top: 220px;
  left: 360px;
  animation: textSlide 2s ease-out;
}

#s3 > p {
  font-size: 1.9em;
  width: 500px;
  position: absolute;
  color: white;
  top: 500px;
  left: 360px;
  animation: textSlide 2s ease-out;
}
#s4 > h1{
  font-size: 6em;
  width: 500px;
  position: absolute;
  color: #FFC93C;
  /* #DBDFEA; */
  /* FFC93C 노란색 */
  top: 220px;
  left: 360px;
  animation: textSlide 2s ease-out;
}

#s4 > p {
  font-size: 1.9em;
  width: 500px;
  position: absolute;
  color: white;
  top: 500px;
  left: 360px;
  animation: textSlide 2s ease-out;
}

.text-section {
  position: relative;
}



@keyframes textSlide {
  from{
    left:-360px;
    opacity: 0;
  }
  to{
    left: 360px;
    opacity: 1;
  }
}
@keyframes textVanish {
  from {
    left:360px;
    opacity: 1;
  }
  to {
    left:-360px;
    opacity: 0;
  }
}
.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

.container .bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container .header {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.container .header h1 a {
  text-decoration: none;
  font-weight: 300;
  color: white;
  font-family: "Saira Stencil One", sans-serif;
}

.container .nav ul li {
  display: inline-block;
  margin: 0 10px;
  
  
}

.container .nav ul li a {
  text-decoration: none;
  color: white;
}

.container .nav ul li a:hover {
  color: rgba(233, 232, 232, 0.729);
  border-bottom: 7px solid gray;
}

#s2{
  width: 100%;
  height: 100vh;
  background: url(/images/제주도.jpg);
  background-size: cover;
}

#s3{
  width: 100%;
  height: 100vh;
  background: url(/images/DSC01754.jpg);
  background-size: cover;
}
#s4{
  width: 100%;
  height: 100vh;
  background: url(/images/도쿄.jpg);
  background-size: cover;
}