/* head,body, header, section, footer {
   background-color: black;
} */
header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 1.2rem 10%; /* 여백을 원하는 만큼 조절하세요 */
    margin: -20px;
    background-color: beige;
    box-sizing: border-box;
    text-decoration: none;
}
section {
    padding: 0 3rem;
    text-align: center;
}

footer{
    margin-bottom: 2rem;
    font-size: 1.1rem;
    background-color: #9BA4B5;

}

/* button {
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em 2em;
} */

.draw
 {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px red;
  color: #f45e61;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}

.draw::before,
.draw::after
{
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}


.draw::before,
.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.draw::before {
  top: 0;
  left: 0;
}

.draw::after {
  bottom: 0;
  right: 0;
}

.draw:hover,
.meet:hover {
  color: #60daaa;
}

.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}

.draw:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}


.meet:hover {
  color: #fbca67;
}

.meet::after {
  top: 0;
  left: 0;
}

.meet:hover::before {
  border-top-color: #fbca67;
  border-right-color: #fbca67;
}

.meet:hover::after {
  border-bottom-color: #fbca67;
  border-left-color: #fbca67;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}

.con{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}